{% load static %}
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- celebritylist11:56-->

<head>
	{% block headerinclude %}
	<!-- Basic need -->
	<title>Block Buster Movie House</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Data Tables CSS -->

	<!-- Data Tables CSS with Extension features -->
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-html5-1.6.3/datatables.min.css" />

	<!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- Icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- CSS files -->
	<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	{% endblock headerinclude %}
</head>

<body>
	{% block content %}
	<!--preloading-->
	<div id="preloader">
		<img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119" height="58">
		<div id="status">
			<span></span>
			<span></span>
		</div>
	</div>
	<!--end of preloading-->

	<!-- BEGIN | Header -->
	<header class="ht-header">
		<div class="container">
			<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
					<a href="{% url 'index_view' %}"><img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119"
							height="58"></a>
				</div>
			</nav>
		</div>
	</header>
	<!-- END | Header -->

	<div class="hero common-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>Order Dashboard</h1>
						<ul class="breadcumb">
							<li class="active"><a href="{% url 'index_view' %}">Home</a></li>
							<li class="active"><a href="{% url 'customer:dashboard_view' %}"><span class="ion-ios-arrow-right"></span>Customer/DVD</a></li>
							<li> <span class="ion-ios-arrow-right"></span>Orders</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- dvd list section-->
	<div class="buster-light">
		<div class="page-single">
			<div class="container">
				<div class="float-right">
					<form action="orders">{% csrf_token %}<a href="{% url 'orders:orders_view' %}" class="redbtn" id="view">ADD Order</a>
				</div>
				<!--************************** DATE RANGE**************************-->
				<p>FROM</p>
				<input id="min" name="min" type="date">
				<p>TO</p>
				<input id="max" name="max" type="date">
				<!--************************** RESET BUTTON FOR DATE RANGE************************-->
				<button id="resetDateRange" name="resetDateRange" class="btn-primary">Reset</button>

				<!-- *******INSERT THIS TO YOUR TABLES SECTION************ -->
				<table id="ordersTable" class="table table-responsive-md">
					<thead>
						<tr style="background-color: #101f26 !important; color: white !important;">
							<th>First Name</th>
							<th>Last Name</th>
							<th>DVD Title</th>
							<th>Date Ordered</th>
							<th>Phone Number</th>
                            <th>Email</th>
                            <th>Quantity</th>
                            <th>Delivery Status</th>
						</tr>
					</thead>
					<tbody>
					{% for entry in Orders %}
						<tr>
							<td>{{entry.customer_first}}</td>
							<td>{{entry.customer_last}}</td>
							<td>{{entry.dvd_title}}</td>
							<td>{{entry.order_date}}</td>
							<td>{{entry.phone}}</td>
                            <td>{{entry.email}}</td>
                            <td>{{entry.quantity}}</td>
                            <td>{{entry.sent}}</td>
						</tr>
					</tbody>
					<tfoot>
					{% endfor %}
					</tfoot>
				</table>
			</div>
		</div>
	</div>

	<!-- footer section-->
	<footer class="ht-footer">
		<div class="container">
			<div class="flex-parent-ft">
				<div class="flex-child-ft item1">
					<a href="{% url 'index_view' %}"><img class="logo" src="{% static 'images/logo1.png' %}" alt=""></a>
					<p>5th Avenue st, manhattan<br>
						New York, NY 10001</p>
					<p>Call us: <a href="#">(+639) 616 042 353</a></p>
				</div>
				<div class="flex-child-ft item2">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Help Center</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item3">
					<h4>Legal</h4>
					<ul>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item4">
					<h4>Account</h4>
					<ul>
						<li><a href="#">My Account</a></li>
						<li><a href="#">User Guide</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item5">
					<h4>Newsletter</h4>
					<p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
					<form action="#">
						<input type="text" placeholder="Enter your email...">
					</form>
					<a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
				</div>
			</div>
		</div>
		<div class="ft-copyright">
                 				<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
			</div>
			<div class="backtotop">
				<p><a href="#" id="back-to-top">Back to top <i class="ion-ios-arrow-thin-up"></i></a></p>
			</div>
		</div>
	</footer>
	{% block footerinclude %}

	<!-- end of footer section-->
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/plugins2.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<!-- DataTables js with extensions for print copy pdf-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/datatables.min.js"></script>

	<!-- ********************** rows for tables and configurations, should be on the last part**************************** -->
	<script>
		$(document).ready(function () {
			let initialTableSettings = {
				searching: true,
				//Enables print , excel export functionality
				buttons: [
					'print', 'copy', 'pdf', 'excel'
				],
				//Determines how the search, buttons , paginations are shown in your datatable refer to datatables DOM documentation
				dom: 'Bfrtip'
			}
			//Creates the table with the settings above
			let table = $('#ordersTable').DataTable(initialTableSettings);

			$("input[type=date][name$=min]").val(new Date(0).toISOString().slice(0, 10));
			$("input[type=date][name$=max]").val(new Date().toISOString().slice(0, 10));
			//This is the logic that we will use in order to filter the table
			let dateRangeFunc = function (settings, data, dataIndex) {
				let min = new Date($('#min').val()).getTime();
				let max = new Date($('#max').val()).getTime();
				let date = new Date(data[4]).getTime(); // use data for the column to range filter
				if (min <= date && date <= max) {
					return true;
				}
				return false;
			}
			//Sooo, here we will put the custom date range filter to the table
			$.fn.dataTable.ext.search.push(dateRangeFunc);

			//NOW, we need to refresh the table each time so that we could see the filtered data
			$('#min, #max').change(function () {
				table.draw();
			});

			//Resetting the table
			$('#resetDateRange').click(function () {
				$("input[type=date][name$=min]").val(new Date(0).toISOString().slice(0, 10));
				$("input[type=date][name$=max]").val(new Date().toISOString().slice(0, 10));
				table.draw();
			});
		});
	</script>
	
	<script>
		$(document).ready(function () {
			let initialTableSettings = {
				searching: true,
				//Enables print , excel export functionality
				buttons: [
					'print', 'copy', 'pdf', 'excel'
				],
				//Determines how the search, buttons , paginations are shown in your datatable refer to datatables DOM documentation
				dom: 'Bfrtip'
			}
			//Creates the table with the settings above
			let table = $('#dvdTable').DataTable(initialTableSettings);

			$("input[type=date][name$=min]").val(new Date(0).toISOString().slice(0, 10));
			$("input[type=date][name$=max]").val(new Date().toISOString().slice(0, 10));
			//This is the logic that we will use in order to filter the table
			let dateRangeFunc = function (settings, data, dataIndex) {
				let min = new Date($('#min').val()).getTime();
				let max = new Date($('#max').val()).getTime();
				let date = new Date(data[4]).getTime(); // use data for the column to range filter
				if (min <= date && date <= max) {
					return true;
				}
				return false;
			}
			//Sooo, here we will put the custom date range filter to the table
			$.fn.dataTable.ext.search.push(dateRangeFunc);

			//NOW, we need to refresh the table each time so that we could see the filtered data
			$('#min, #max').change(function () {
				table.draw();
			});

			//Resetting the table
			$('#resetDateRange').click(function () {
				$("input[type=date][name$=min]").val(new Date(0).toISOString().slice(0, 10));
				$("input[type=date][name$=max]").val(new Date().toISOString().slice(0, 10));
				table.draw();
			});
		});
	</script>
	{% endblock footerinclude %}
	{% endblock content %}
</body>
</html>