{% load static %}

<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- userprofile_light16:31-->
<head>
	<!-- Basic need -->
	<title>Block Buster Movie House</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- Icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- CSS files -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<!--About Us popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>About Us</h3>
        	<p>Block Buster Film is a movie house selling copies of DVDs to the customers. <br> With over 10000 copies, all types of movie genres are available, high quality movies and lowest price guaranteed.</p> <br>
           	<div class="row">
           		<a href="{% url 'index_view' %}"><button>Home</button></a>
           	</div>
    </div>
</div>
<!--end of About Us popup-->
<!--Contact Us form popup-->
<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Contact Us</h3>
        <form method="post" action="#" id="contactform">
            <div class="row" align="center">
            	<p>5th Avenue st, manhattan <br> New York, NY 10001 <br> Call us: (+01) 202 342 6789</p>
            </div>
            <div class="row">
                <label for="email-2">
                    your email:
                    <input type="password" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"/>
                </label>
            </div>
            <div class="row">
            	<label for="message">
            		Message:
            		<textarea rows="6" cols="50" name="message" id="message" placeholder="Type your message here" form="contactform"></textarea>
            	</label>
            </div>
            <div class="row">
             <button type="submit">Submit</button>
           </div>
            <div class="row">
	        	<p>or contact us via social</p>
	            <div class="social-btn-2">
	            	<a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
	            	<a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
	            </div>
        	</div> 
        </form>
    </div>
</div>
<!--end of contact us form popup-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="{% url 'index_view' %}"><img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a href="{% url 'index_view' %}" class="btn btn-default dropdown-toggle lv1">
							Home</a>
						</li>
						<li class="dropdown first">
							<a a href="{% url 'customer:dashboard_view' %}" class="btn btn-default dropdown-toggle lv1">
							Dashboard</a>
						</li>
						<li class="dropdown first">
							<a a href="{% url 'orders:orderstable_view' %}" class="btn btn-default dropdown-toggle lv1">
							Orders</a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							Registration <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="{% url 'customer:addcustomer_view' %}">Customer</a></li>
								<li><a href="{% url 'dvd:adddvd_view' %}">DVD</a></li>
								<li><a href="{% url 'orders:orders_view' %}">Orders</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							pages <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="{% url 'landing_view' %}">Landing</a></li>
							</ul>
						</li>
						<li class="loginLink"><a href="#">About Us</a></li>
						<li class="btn signupLink"><a href="#">Contact Us</a></li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	</div>
</header>
<!-- END | Header -->

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>DVD Registration</h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'index_view' %}">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span>DVD Registration</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
		<div class="buster-light">
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-img">
						<a href="#"><img src="{% static 'images/uploads/user-img.png' %}" alt=""><br></a> <!--user_marie.jpg-->
						<a href="#" class="redbtn">Change avatar</a>
					</div>
					<div class="user-fav">
						<p>Admin Details</p>
						<ul>
							<li  class="active"><a href="userprofile.html">Profile</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="#">
					<form action="#" method="POST" class="user" enctype="multipart/form-data">
						{% csrf_token %}
						<h4>Personal Information</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Date Registered</label>
								<input name="date_registered" type="Date" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Director First Name</label>
								<input name="director_firstname" type="text" placeholder="First Name" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Director Last Name</label>
								<input name="director_lastname" type="text" placeholder="Last Name" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>SKU</label>
								<input name="sku" type="text" placeholder="ABC123" readonly>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Genre</label>
								<input name="genre" type="text" placeholder="Horror" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Title</label>
								<input name="title" type="text" placeholder="Fatima and Kent's Adventure" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Release Date</label>
								<input name="release_date" type="date" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Cast</label>
								<input name="cast" type="text" placeholder="Firstname Lastname," required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Price</label>
								<input name="price" type="number" step="1.00" placeholder="0.00" min="1" max="500" required>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 form-it">
								<label>No. of Items</label>
								<input name="no_items" type="number" min="1" max="500" required>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 form-it">
								<label>DVD Image</label>
								<input name="dimg" type="file" id="picture" accept="image/*" required multiple>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="save">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
		</div>
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="{% url 'index_view' %}"><img class="logo" src="{% static 'images/logo1.png' %}" alt=""></a>
				 <p>5th Avenue st, manhattan<br>
				New York, NY 10001</p>
				<p>Call us: <a href="#">(+639) 616 042 353</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Resources</h4>
				<ul>
					<li><a href="#">About</a></li> 
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Help Center</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<li><a href="#">Terms of Use</a></li> 
					<li><a href="#">Privacy Policy</a></li>	
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul>
					<li><a href="#">My Account</a></li> 
					<li><a href="#">User Guide</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Newsletter</h4>
				<p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
				<form action="#">
					<input type="text" placeholder="Enter your email...">
				</form>
				<a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/plugins2.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>

<!-- userprofile_light16:31-->
</html>